@font-face {
	font-family: 'clockFont';
	src: url('DigitalDismay.otf');
}

body {
    background: #161622;
    background-image: url(bg.png);
    background-size: cover;
    color: white;
    font-family: Arial;
    text-align: center;
}

a {
    color: green;
}

.title {
    background: #36365277;
    padding: 10px;
    font-size: 40px;
    margin: -7px -5px 40px -5px;
    width: auto;
    border: #161620;  
    border-style: solid;
    border-width: 20px 0px 0px 0px;
    border-radius: 0 0 0 0;
}

.box {
    display: inline-block;
    left: 0%;
    padding: 10px;
    border: #00aa00;  
    border-style: solid;
    border-width: 0 0 0 0;
    border-radius: 10px;
    background: #36365277;
    font-size: 20px;
    margin: 10px 10px 50px 10px;
    min-width: 300px;
    max-width: 50%;
    height: 20%;
    vertical-align: top;
}

.counter {
    font-family: clockFont;
    font-size: 400%;
}

.dot {
    height: 2px;
    width: 2px;
    position: absolute;
    border: 2px solid red;
    z-index: 10;
}

.eatFotter {
    position: fixed;
    left: 0%;
    bottom: 50px;
    background: #262632;
    border-radius: 0 0 200% 200%;
    width: 100%;
    height: 40px;
    border: #00aa00;  
    border-style: solid;
    border-width: 0 0 5px 0;
    margin: 10% 0px -20px 0px;
    z-index: 999999999999999;
}

.footer {
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 0%;
    padding: 5px;
    margin: 0px -5px 0px -5px;
    background: #262632;
    border: #161620;  
    border-style: solid;
    border-width: 0px 0px 10px 0px;
    border-radius: 0 0 0 0;
    width: auto;
    font-size: 15px;
    z-index: 1;
}