@font-face {
	font-family: 'clockFont';
	src: url('DigitalDismay.otf');
}

body {
    background: #161622;
    color: white;
    font-family: Arial;
    text-align: center;
}

a {
    color: green;
}

.title {
    background: #ffffff11;
    padding: 10px;
    font-size: 40px;
    border: #009900;
    border-width: 0 0 10px 0;
    border-radius: 0 0 15% 15%;
    border-style: solid;
    margin: -7px -5px 40px -5px;
    width: auto;
}

.box {
    display: inline-block;
    left: 0%;
    padding: 10px;
    border: #00aa00;  
    border-style: solid;
    border-width: 10px 0 0 0;
    border-radius: 10px;
    background: #ffffff11;
    font-size: 20px;
    margin: 10px;
    min-width: 300px;
    max-width: 50%;
    height: 20%;
    vertical-align: top;
}

.counter {
    font-family: clockFont;
    font-size: 400%;
}

.eatFotter {
    position: sticky;
    background: #161622;
    border-radius: 200%;
    width: 100%;
    height: 40px;
    border: #00aa00;  
    border-style: solid;
    border-width: 0 0 5px 0;
    margin: 10% 0px -20px 0px;
    z-index: 999999999999999;
}

.footer {
    position: sticky;
    padding: 5px;
    margin: 0px -5px 0px -5px;
    background: #262632;
    border: #00aa00;  
    border-style: solid;
    border-width: 0 0 5px 0;
    width: 100%;
    height: 35px;
    font-size: 15px;
    z-index: 1;
}